.home {
    min-height: 100vh;
    background-color: rgba(71, 117, 107, 0.534);
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx75I2sOx1KbYg8Flkzjwb2QvMa43VdZWPKA&usqp=CAU"); */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 10px;
}

.breedCard {
    padding-bottom: 30px;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
}


/* .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
} */