.page {
    background-image: url("https://img.freepik.com/free-photo/group-portrait-adorable-puppies_53876-64778.jpg?w=2000");
    background-size: cover;
    height: 100vh;
    font-size: 50px;
    background-repeat: no-repeat;
}

.loader {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    text-decoration: none;
    padding-left: 6%;
}

a {
    text-decoration: none #000000 solid;
}

/* 
.button {
    position: absolute;
    top: 20%;
    left: 45%;
    background-color: rgb(100, 159, 177);
    z-index: 100;
    border-radius: 3%;
    width: 15%;
    height: 5%;
    text-decoration: none;
    border: 3px solid rgb(24, 155, 179);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    box-shadow: 2px 7px 7px rgb(54, 138, 216);
    width: 15.2%;
    height: 5.2%;
} */



/* 
.Imagen_Titulo {

    position: absolute;
    width: 600px;
    height: 300px;
    top: 4%;
    left: calc(50% - 300px);

  } */


/* CSS */
.button {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    /* font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    /* text-decoration-thickness: auto; */
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:focus {
    outline: 0;
}

.button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button:hover:after {
    bottom: 2px;
    left: 2px;
}


@media (min-width: 768px) {
    .button {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}