.pages {
    display: inline-flex;
    padding: 0.3rem;
    display: flex;
    margin-left: 27%;
    width: 45%;
    justify-content: space-evenly;
    align-items: center;
}

.pagination {
    padding: 1px;
    margin-top: 1px;
}

.btt {
    border: 2px solid black;
    color: rgb(245, 245, 245);
    border-radius: 6px;
    background: #202020;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    padding: 0 6px;
}

.btt:hover {
    background: #20202086;
}


.active {
    border-radius: 7px;
    width: 35px;
    height: 35px;
    margin-top: 7px;
    background-color: rgba(83, 177, 169, 0.425);
    background: #20202086;
    font-weight: bold;
}