.pages {
    /* margin-left: 10px; */
    align-items: center;
    display: inline;
    padding: 8px;
}

.pagination {
    padding: 0.5rem;
}

.btt {
    border-radius: 7px;
    transition-duration: 0.4s;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.btt:hover {
    background-color: rgba(59, 100, 212, 0.699);
    cursor: pointer;
    border-radius: 10px;
}