.card {
    /* Add shadows to create the "card" effect */
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(175, 236, 255, 0.425);
    grid-template-rows: max-content 200px 1fr;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 5px;
    width: 25rem;
    height: 27rem;
    padding: 15px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.301);
    background-color: rgb(175, 236, 255);
  }
  
  img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 230px;
    border-radius: 20px;
  }

  /* .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
} */

.title {
    font-size: 27px;
    color: #7023ff;
    font-family: italic;
  }

  .containertemp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 5%;
    color: #7023ff;
  }

  .temp {
    display: flex;
    justify-content: center;
    width: 100%;
  } 

  .temp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: c;
  }

/* .temperaments {
    color: #16171ada;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3px;
    padding-right: 3px;
    list-style: none;
    font-size: 15px;
  } */

  .weight {
    font-family: italic;
    font-size: 22px;
  }

  .span {
    display: flex;
    justify-content: center;
    align-items: center;
  }